body{
    margin: 0;
    padding: 0;
    font-family: Tahoma;
}
.contenedor{
    width: 100%;
    min-height: 100vh;
    padding-left: 4%;
    padding-right: 4%; 
    box-sizing: border-box;
    overflow: hidden;
}
.navegacionBarra{
    width: 100%;
    display: flex;
    align-items : center;
}
.logo{
    width: 25%;
    cursor: pointer;
    margin: 30px 0;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{/*para poder tener la de lista de hipervinculos a la izquiera*/
    list-style: none;
    display: inline-block;
    margin-right: 30px;
}
nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;

}
nav ul li a:hover{
    color: coral;
}





footer{
    background-color: coral;
    margin: 0 30px;
    text-align:  center;
    font-size: 14px;
    color: white;
    border-radius: 95px 95px;
    font-weight: bold;

}

